body {
    padding-top: 10px;
    background-color: #4E2A84;
}


.bigFeed {
    /* margin-left: 25%; */
    margin-top: 100px;

}

.activity-feed {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}