body {
  padding-top: 10px;
  background-color: #4e2a84;
}

.bigFeed {
  /* margin-left: 25%; */
  margin-top: 100px;
}

.activity-feed {
  display: flex;
  /* justify-content: space-between; */
  overflow: scroll;
  max-width: 100vw;
  /* border: magenta; */
}

.feed {
  margin-top: 15px;
}
