body {
    padding-top: 10px;
    background-color: #4E2A84;

}


.bigFeed {
    /* margin-left: 25%; */
    margin-top: 100px;

}

.activity-feed {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    max-width: 100vw;
    /* border: magenta; */
}

.feed {
    margin-top: 15px;
}

.tagButtons {
    display: flex;
    /* align-content: center; */
    justify-content: center;
    /* background-color: #222222; */
    border-radius: 10px;
    padding: 7px;
}