.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  margin: 0;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.nav-container {
  margin-top: 0;
}

.nav-link {
  align-self: start;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: gray;
}

@media (min-width: 1000) {
  .navbar {
    height: 100px;
    /* overflow:scroll; */
  }
}

@media (max-width: 999px) {
  .navbar {
    height: 100px;
    overflow: scroll;
  }
}

#basic-navbar-nav {
  margin-top: 7px;
}
